# Openocd configuration for the Skystar STM32F407 board

source [find interface/cmsis-dap.cfg]
transport select swd
source [find target/stm32f4x.cfg]

reset_config srst_only

$_TARGETNAME configure -event gdb-attach {
	echo "Debugger attaching: halting execution"
	reset halt
	gdb_breakpoint_override hard
}

$_TARGETNAME configure -event gdb-detach {
	echo "Debugger detaching: resuming execution"
	resume
}
